// PLYR VIDEO
.video {

  .plyr {
    overflow: hidden;
  }
  // CONFIG VIDEO
  // PLYR VIDEO  CONFIGS
  --plyr-video-controls-background: var(--primary-color-1);
  --plyr-video-control-color: #ffffff;
  --plyr-video-progress-buffered-background: var(--primary-color-4);

  --plyr-font-size-base: var(--paragraph-fs);
  --plyr-font-size-menu: var(--paragraph-fs);
  --plyr-font-size-time: var(--paragraph-fs);

  --plyr-video-control-background-hover: var(--primary-color-2);
  --plyr-menu-color: var(--primary-color-1);
  --plyr-control-toggle-checked-background: var(--primary-color-1);
  --plyr-menu-background: var(--primary-color-2);
  --plyr-range-track-height: 8px;
  --plyr-range-fill-background: #fff;
  --plyr-range-thumb-background: transparent;
  --plyr-range-thumb-shadow: 0px;
  // --plyr-control-spacing: 16px;
  --plyr-timer-color: var(--wireframe-text-color);

  &__transcription {
    margin-top: 16px;
    padding: 16px;
    border: 2px solid var(--primary-color-1);
    border-radius: 20px;

    .video__content {
      height: 200px;
    }
  }
}

.plyr {
  border-radius: 20px;
  &__video-wrapper {
    --aspect-ratio: 16/9;
    --controls-height: 80px;
    height: min(100dvh, 100%);
    width: min(calc((100dvh * var(--aspect-ratio) - var(--controls-height))), 100%);
  }
}

@media (max-width: 740px) {
  .plyr {
    --plyr-control-video-play-width: 32px;
    --plyr-control-video-play-height: 32px;
    --plyr-control-video-volume-width: 32px;
    --plyr-control-video-volume-height: 32px;
    --plyr-control-video-fullscreen-width: 32px;
    --plyr-control-video-fullscreen-height: 32px;

    --plyr-overlaid-play-width: 35px;
    --plyr-overlaid-play-height: 46px;

    &__volume input[type=range] {
      display: none;
    }
  }
}

@media (min-width: 480px) {
  .plyr--video {
    .plyr__controls {
      padding: 16px;
    }
  }
}
