@mixin open-hover {
  background: var(--accordion-title-active-background);
  color: var(--accordion-title-active-color);
  box-shadow: 0px 4px 6px rgba(0,0,0,.3);
  transition: .3s;

  &::before {
    background-color: var(--ico-color-opened);
    transform: rotate(180deg);
  }

  &::after {
    background-color: var(--ico-color-opened);
  }
}

.accordion-simp {
  --accordion-gap: 12px;
  --accordion-title-padding: 8px 24px;
  --accordion-title-gap: 1ch;
  --accordion-content-padding: 44px 24px 24px;
  --ico-color-closed: var(--primary-color-1);
  --ico-color-opened: var(--primary-color-2);

  display: flex;
  gap: var(--accordion-gap);

  &__item {
    width: 100%;
    color: var(--accordion-title-color);
  }

  &__item[open] {
    .accordion-simp__summary {
      @include open-hover;
    }
  }

  &__item.clicked:not([open]) {
    // .accordion-simp__summary {
    //   background: var(--accordion-title-viewed-background);
    //   color: var(--accordion-title-color);
    // }
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--accordion-title-gap);
    background: var(--accordion-title-background);
    color: var(--accordion-title-color);
    border: 2px solid var(--accordion-content-background);
    border-radius: 20px;
    font-size: var(--paragraph-fs);
    line-height: var(--paragraph-lh);
    padding: var(--accordion-title-padding);
    font-weight: bold;

    &::after {
      content: '|';
      display: inline-block;
      color: transparent;
      width: 2px;
      height: 100%;
      background: var(--ico-color-closed);
      order: -1;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      mask: url(/assets/images/wireframe/arrow-down.svg) center no-repeat;
      background-color: var(--ico-color-closed);
      mask-size: contain;
      flex: none;
      order: -2;
      transition: .3s;
    }
  }

  &__content {
    background: var(--accordion-content-background);
    color: var(--accordion-content-color);
    padding: var(--accordion-content-padding);
    margin-top: -21px;
    border-radius: 0 0 20px 20px;
    li::before {
      background: currentColor;
    }
  }
}

@media (hover:hover) {
  .accordion-simp__summary:hover {
    @include open-hover;
  }
}

@media (max-width: 740px) {
  .accordion-simp {
    --accordion-gap: 8px;
    --accordion-title-padding: 8px 16px;
    --accordion-content-padding: 16px;
  }
}
